.head-USA{
    background: linear-gradient(179deg,rgba(9, 6, 26, 1) 16%, rgba(9, 6, 46, 1) 43%, rgba(25, 33, 71, 1) 77%);
}
.head-URSS{
    background: linear-gradient(180deg,rgba(117, 29, 29, 1) 0%, rgba(158, 14, 14, 1) 35%, rgba(156, 39, 39, 1) 100%);
}
.head-ALLEMAGNE{
    background: linear-gradient(162deg,rgba(168, 166, 3, 1) 20%, rgba(120, 37, 37, 1) 53%, rgba(23, 11, 11, 1) 84%);
}
.head-grande_bretagne{
    background: linear-gradient(142deg,rgba(204, 53, 53, 1) 24%, rgba(207, 209, 227, 1) 50%, rgba(44, 64, 219, 1) 81%);
}
.head-italy{
    background: linear-gradient(305deg,rgba(155, 179, 156, 1) 9%, rgba(29, 84, 7, 1) 35%, rgba(50, 105, 26, 1) 53%, rgba(77, 76, 35, 1) 71%, rgba(153, 15, 15, 1) 83%);
}
.head-france{
    background: linear-gradient(67deg,rgba(0, 43, 255, 1) 0%, rgba(161, 177, 181, 1) 50%, rgba(199, 38, 38, 1) 100%);
}
.head-suede{
    background: linear-gradient(142deg,rgba(47, 181, 222, 1) 0%, rgba(227, 227, 18, 1) 50%, rgba(4, 115, 212, 1) 100%);
}
.head-israel{
    background: linear-gradient(142deg,rgba(222, 222, 222, 1) 0%, rgba(26, 11, 230, 1) 50%, rgba(227, 227, 227, 1) 100%);
}
.head-USA, .head-URSS, .head-ALLEMAGNE, .head-grande_bretagne, .head-italy, .head-france, .head-suede, .head-israel {
    border: 2px solid black;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 2%;
}
.header-main{
    text-align: center;
    background: linear-gradient(191deg,rgba(135, 11, 11, 1) 15%, rgba(130, 47, 102, 1) 50%, rgba(103, 17, 120, 1) 76%, rgba(82, 18, 18, 1) 100%);
    color: rgb(40, 126, 124);
    border-radius: 15px;
}
.header-main h1, .header-main h2{
    background: rgb(135,206,235);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.all-usa, .all-urss, .all-allemagne, .all-grande_bretagne, .all-italy, .all-france, .all-suede, .all-israel{    
  display: flex;
  justify-content: center;
  text-size-adjust: 100%;
}

img{
    width: 90%;
}

.Tank-usa, .Tank-urss, .Tank-allemagne, .Tank-grande_bretagne, .Tank-italy, .Tank-france, .Tank-suede, .Tank-israel{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: linear-gradient(180deg,rgba(245, 245, 245, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding:0.5%; 
    width: 31%;
    margin-right: 10px;
}

.helicopter-usa, .helicopter-urss, .helicopter-allemagne, .helicopter-grande_bretagne, .helicopter-italy, .helicopter-france, .helicopter-suede, .helicopter-israel{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: linear-gradient(180deg,rgba(245, 245, 245, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding:0.5%; 
    width: 31%;
    margin-left: 10px;
}

.Avion-usa, .Avion-urss, .Avion-allemagne, .Avion-grande_bretagne, .Avion-italy, .Avion-france, .Avion-suede, .Avion-israel{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: linear-gradient(180deg,rgba(245, 245, 245, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding:0.5%; 
    width: 31%;
}
.bod-main{
    background: linear-gradient(191deg,rgba(87, 7, 7, 1) 15%, rgba(107, 10, 75, 1) 50%, rgba(62, 21, 69, 1) 76%, rgba(43, 7, 7, 1) 100%);
    height:1000px;
    text-align: center;
    background-repeat: no-repeat;
}

.USA-bod{
    background: linear-gradient(48deg, rgba(2, 0, 36, 1) 12%, rgba(9, 9, 121, 1) 63%, rgba(0, 212, 255, 1) 95%);
    height:100%;
}
.URSS-bod{
    background: linear-gradient(200deg,rgba(156, 25, 40, 1) 16%, rgba(82, 0, 0, 1) 43%, rgba(184, 24, 24, 1) 77%);
    height:100%;
}
.ALLEMAGNE-bod{
    background: linear-gradient(300deg,rgba(102, 82, 11, 1) 33%, rgba(68, 77, 25, 1) 66%, rgba(47, 33, 59, 1) 100%);
    height: 100%;
}
.grande_bretagne-bod{
    background: radial-gradient(circle,rgba(4, 41, 222, 1) 0%, rgba(139, 126, 196, 1) 32%, rgba(140, 94, 98, 1) 52%, rgba(232, 58, 87, 1) 81%, rgba(224, 0, 45, 1) 100%);
    height: 100%;
}
.italy-bod{
    background: radial-gradient(circle,rgba(154, 181, 172, 1) 0%, rgba(38, 156, 20, 1) 49%, rgba(163, 23, 23, 1) 100%);
    height: 100%;   
}
.france-bod{
    background: linear-gradient(142deg,rgba(12, 2, 204, 1) 0%, rgba(227, 220, 220, 1) 50%, rgba(212, 4, 4, 1) 100%);
    height: 100%;
}
.suede-bod{
    background: radial-gradient(circle,rgba(0, 182, 227, 1) 0%, rgba(214, 227, 34, 1) 50%, rgba(112, 186, 255, 1) 100%);
    height: 100%;
}
.israel-bod{
    background: radial-gradient(circle,rgba(237, 239, 242, 1) 0%, rgba(12, 60, 235, 1) 50%, rgba(237, 237, 237, 1) 100%);
    height: 100%;
}

.retour{
    position: absolute;
    left:10px;
    top: 9.5px;
    background: linear-gradient(179deg,rgba(89, 101, 105, 1) 16%, rgba(73, 83, 89, 1) 32%, rgba(74, 76, 92, 1) 54%, rgba(77, 94, 94, 1) 64%);
    border: #020024;
    border-radius: 10px;
    padding: 3px;
    color: #020024;
}
.all-pays{
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border:1px solid #020024;
}

.USA, .URSS, .ALLEMAGNE, .GRANDE_BRETAGNE, .ITALY, .FRANCE, .SUEDE, .ISRAEL{
    width: 450px;
    height: 250px;
    border: 1px solid #020024;
}
.USA div, .URSS div, .ALLEMAGNE div, .GRANDE_BRETAGNE div, .ITALY div, .FRANCE div, .SUEDE div, .ISRAEL div{
    background: linear-gradient(to right, transparent, black, transparent);
    width: 350px;
    margin: auto;

}
.image_s{
    width: 80%;
}
a.usa-lien .grade-usa, a.urss-lien .grade-urss, a.allemagne-lien .grade-allemagne, a.grande_bretagne-lien .grade-grande_bretagne, a.italy-lien .grade-italy, a.france-lien .grade-france, a.suede-lien .grade-suede, a.israel-lien .grade-israel {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
a.usa-lien .grade-usa{
    text-decoration-color: blue;
}
a.urss-lien .grade-urss{
    text-decoration-color: rgb(163, 2, 2);
}
a.allemagne-lien .grade-allemagne{
    text-decoration-color: rgb(201, 131, 1);
}
a.grande_bretagne-lien .grade-grande_bretagne{
    text-decoration-color: rgb(90, 93, 218);
}
a.italy-lien .grade-italy{
    text-decoration-color: #24ae39;
}
a.france-lien .grade-france{
    text-decoration-color: #4f4ab1;
}
a.suede-lien .grade-suede{
    text-decoration-color:#00CDD4;
}
a.israel-lien .grade-israel{
    text-decoration-color: darkblue;
}
a{
    text-decoration: none;
}
.USA .USA-boutton, .URSS .URSS-boutton, .ALLEMAGNE .ALLEMAGNE-boutton, .GRANDE_BRETAGNE .GRANDE_BRETAGNE-boutton, .ITALY .ITALY-boutton, .FRANCE .FRANCE-boutton, .SUEDE .SUEDE-boutton, .ISRAEL .ISRAEL-boutton{
    position: relative;
    right: -150px;
    top: -20px;
    font-weight: bold;
}


.USA h1, .URSS h1, .ITALY h1, .FRANCE h1, .SUEDE h1, .ISRAEL h1{
    background-color: #5e58d138;
    border-radius: 5px;
    border: 1px solid black;
    width: 150px;
    color: whitesmoke;
}

.GRANDE_BRETAGNE h1{
    color: whitesmoke;
    background-color: #5e58d138;
    border-radius: 5px;
    border: 1px solid black;
    width: 200px;
}

.ALLEMAGNE h1{
    color: whitesmoke;
    background-color: #5e58d138;
    border-radius: 5px;
    position: relative;
    left: -50px;
    border: 1px solid black;
    width: 250px;
}


.usa-lien .grade-usa {
    background-image:linear-gradient(180deg,rgba(0, 86, 89, 1) 16%, rgba(69, 4, 181, 1) 87%, rgba(29, 158, 184, 1) 48%);
}
.urss-lien .grade-urss{
    background-image:linear-gradient(180deg,rgba(117, 29, 29, 1) 0%, rgba(158, 14, 14, 1) 35%, rgba(156, 39, 39, 1) 100%); 
}
.allemagne-lien .grade-allemagne{
    background-image:linear-gradient(260deg,rgba(194, 158, 29, 1) 33%, rgba(224, 40, 11, 1) 66%, rgba(143, 43, 119, 1) 100%);
}
.grande_bretagne-lien .grade-grande_bretagne{
    background-image: linear-gradient(142deg,rgba(237, 5, 5, 1) 0%, rgba(139, 143, 137, 1) 50%, rgba(0, 34, 255, 1) 100%);
}
.italy-lien .grade-italy{
    background-image: radial-gradient(circle,rgba(154, 181, 172, 1) 0%, rgba(38, 156, 20, 1) 49%, rgba(163, 23, 23, 1) 100%);
}
.france-lien .grade-france{
    background-image: linear-gradient(268deg,rgba(48, 45, 181, 1) 0%, rgba(233, 240, 238, 1) 50%, rgba(201, 38, 38, 1) 100%);
}
.suede-lien .grade-suede{
    background-image: linear-gradient(142deg,rgba(4, 193, 199, 1) 10%, rgba(193, 199, 36, 1) 50%, rgba(41, 179, 174, 1) 100%);
}
.israel-lien .grade-israel{ 
    background-image: linear-gradient(142deg,rgba(222, 222, 222, 1) 0%, rgba(26, 11, 230, 1) 50%, rgba(227, 227, 227, 1) 100%);
}
a .grade-usa, a .grade-urss, a .grade-allemagne, a .grade-grande_bretagne, a .grade-italy, a .grade-france, a .grade-suede, a .grade-israel {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;        
  -webkit-text-fill-color: transparent; 
  color: transparent;                   
}

a:visited .grade-usa, a:visited .grade-urss, a:visited .grade-allemagne, a:visited .grade-grande_bretagne, a:visited .grade-italy, a:visited .garde-france, a:visited .grade-suede, a:visited .grade-israel{
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.titre-urss{
    background: linear-gradient(180deg,rgba(36, 12, 12, 1) 0%, rgba(36, 12, 12, 1) 35%, rgba(36, 12, 12, 1) 100%);
}
.titre-usa{
    background: linear-gradient(180deg,rgba(0, 86, 89, 1) 16%, rgba(69, 4, 181, 1) 87%, rgba(29, 158, 184, 1) 48%);
}
.titre-allemagne{
    background: linear-gradient(260deg,rgba(194, 158, 29, 1) 33%, rgba(224, 40, 11, 1) 66%, rgba(143, 43, 119, 1) 100%);
}
.titre-grande_bretagne{
    background: linear-gradient(142deg,rgba(237, 5, 5, 1) 39%, rgba(139, 143, 137, 1) 50%, rgba(0, 34, 255, 1) 60%);   
}
.titre-italy{
    background: linear-gradient(142deg,rgba(199, 4, 4, 1) 41%, rgba(77, 199, 58, 1) 50%, rgba(199, 199, 199, 1) 57%);
}
.titre-france{
    background: linear-gradient(90deg,rgba(14, 11, 217, 1) 41%, rgba(201, 201, 201, 1) 51%, rgba(207, 8, 8, 1) 63%);
}
.titre-suede{
    background: linear-gradient(142deg,rgba(0, 205, 212, 1) 40%, rgba(197, 204, 0, 1) 50%, rgba(0, 194, 187, 1) 60%);
}
.titre-israel{
    background: linear-gradient(90deg,rgba(5, 0, 79, 1) 45%, rgba(0, 85, 102, 1) 58%);
}
.titre-urss, .titre-usa, .titre-allemagne, .titre-grande_bretagne, .titre-italy, .titre-france, .titre-suede, .titre-israel {
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.footer-urss, .footer-usa, .footer-allemagne, .footer-grande_bretagne, .footer-italy, .footer-france, .footer-suede, .footer-israel{
    margin-top: 15px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background: linear-gradient(180deg,rgba(245, 245, 245, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding: 3px;
}

.résumer-usa{
    background:linear-gradient(180deg,rgba(0, 86, 89, 1) 16%, rgba(69, 4, 181, 1) 87%, rgba(29, 158, 184, 1) 48%);
}
.résumer-urss{
    background: linear-gradient(180deg,rgba(117, 29, 29, 1) 0%, rgba(158, 14, 14, 1) 35%, rgba(156, 39, 39, 1) 100%);
}
.résumer-allemagne{
    background: linear-gradient(260deg,rgba(194, 158, 29, 1) 33%, rgba(224, 40, 11, 1) 66%, rgba(143, 43, 119, 1) 100%);
}
.résumer-grande_bretagne{
    background: linear-gradient(142deg,rgba(237, 5, 5, 1) 44%, rgba(139, 143, 137, 1) 50%, rgba(0, 34, 255, 1) 55%);
}
.résumer-italy{
    background: linear-gradient(142deg,rgba(199, 4, 4, 1) 41%, rgba(77, 199, 58, 1) 50%, rgba(199, 199, 199, 1) 57%);
}
.résumer-france{
    background: linear-gradient(90deg,rgba(48, 45, 181, 1) 46%, rgba(173, 173, 173, 1) 51%, rgba(201, 38, 38, 1) 57%);
}
.résumer-suede{
    background: linear-gradient(142deg,rgba(0, 205, 212, 1) 40%, rgba(197, 204, 0, 1) 50%, rgba(0, 194, 187, 1) 60%);
}
.résumer-israel{
    background: linear-gradient(90deg,rgba(5, 0, 79, 1) 45%, rgba(0, 85, 102, 1) 58%); 
}
.résumer-usa, .résumer-urss, .résumer-allemagne, .résumer-grande_bretagne, .résumer-italy, .résumer-france, .résumer-suede, .résumer-israel{
    margin: -4px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.USA h2{
    background:linear-gradient(180deg,rgba(0, 86, 89, 1) 16%, rgba(69, 4, 181, 1) 87%, rgba(29, 158, 184, 1) 48%);
}
.URSS h2{
    background: linear-gradient(180deg,rgba(117, 29, 29, 1) 0%, rgba(158, 14, 14, 1) 35%, rgba(156, 39, 39, 1) 100%);
}
.ALLEMAGNE h2{
    background: linear-gradient(260deg,rgba(194, 158, 29, 1) 33%, rgba(224, 40, 11, 1) 66%, rgba(143, 43, 119, 1) 100%);
}
.GRANDE_BRETAGNE h2{
    background: linear-gradient(142deg,rgba(255, 0, 0, 1) 24%, rgba(105, 108, 120, 1) 50%, rgba(44, 64, 219, 1) 56%);
}
.ITALY h2{
    background: linear-gradient(142deg,rgba(199, 4, 4, 1) 41%, rgba(77, 199, 58, 1) 50%, rgba(199, 199, 199, 1) 57%);
}
.FRANCE h2{ 
    background: linear-gradient(90deg,rgba(48, 45, 181, 1) 36%, rgba(233, 240, 238, 1) 51%, rgba(201, 38, 38, 1) 64%);
}
.SUEDE h2{
    background: linear-gradient(142deg,rgba(0, 205, 212, 1) 40%, rgba(197, 204, 0, 1) 50%, rgba(0, 194, 187, 1) 60%);
}
.ISRAEL h2{
    background: linear-gradient(90deg,rgba(5, 0, 79, 1) 45%, rgba(0, 85, 102, 1) 58%);
}
.USA h2, .URSS h2, .ALLEMAGNE h2, .GRANDE_BRETAGNE h2, .ITALY h2, .FRANCE h2, .SUEDE h2, .ISRAEL h2{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 2px;
} 


