.head-USA{
    background: linear-gradient(179deg,rgba(9, 6, 26, 1) 16%, rgba(9, 6, 46, 1) 43%, rgba(25, 33, 71, 1) 77%);
}
.head-URSS{
    background: linear-gradient(180deg,rgba(117, 29, 29, 1) 0%, rgba(158, 14, 14, 1) 35%, rgba(156, 39, 39, 1) 100%);
}
.head-ALLEMAGNE{
    background: linear-gradient(162deg,rgba(168, 166, 3, 1) 20%, rgba(120, 37, 37, 1) 53%, rgba(23, 11, 11, 1) 84%);
}
.head-USA, .head-URSS, .head-ALLEMAGNE {
    border: 2px solid black;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 2%;
}
.header-main{
    text-align: center;
    background: linear-gradient(191deg,rgba(135, 11, 11, 1) 15%, rgba(130, 47, 102, 1) 50%, rgba(103, 17, 120, 1) 76%, rgba(82, 18, 18, 1) 100%);
    color: rgb(40, 126, 124);
    border-radius: 15px;
}
.header-main h1, .header-main h2{
    background: rgb(135,206,235);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.all-usa, .all-urss, .all-allemagne{    
  display: flex;
  justify-content: center;
  text-size-adjust: 100%;
}

img{
    width: 90%;
}

.Tank-usa, .Tank-urss, .Tank-allemagne{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: linear-gradient(180deg,rgba(245, 245, 245, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding:0.5%; 
    width: 31%;
    margin-right: 10px;
}

.helicopter-usa, .helicopter-urss, .helicopter-allemagne{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: linear-gradient(180deg,rgba(245, 245, 245, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding:0.5%; 
    width: 31%;
    margin-left: 10px;
}

.Avion-usa, .Avion-urss, .Avion-allemagne{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background: linear-gradient(180deg,rgba(245, 245, 245, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding:0.5%; 
    width: 31%;
}
.bod-main{
    background: linear-gradient(191deg,rgba(87, 7, 7, 1) 15%, rgba(107, 10, 75, 1) 50%, rgba(62, 21, 69, 1) 76%, rgba(43, 7, 7, 1) 100%);
    height:100vh;
}

.USA-bod{
    background: linear-gradient(48deg, rgba(2, 0, 36, 1) 12%, rgba(9, 9, 121, 1) 63%, rgba(0, 212, 255, 1) 95%);
    height:100%;
}
.URSS-bod{
    background: linear-gradient(200deg,rgba(156, 25, 40, 1) 16%, rgba(82, 0, 0, 1) 43%, rgba(184, 24, 24, 1) 77%);
    height:100%;
}
.ALLEMAGNE-bod{
    background: linear-gradient(300deg,rgba(102, 82, 11, 1) 33%, rgba(68, 77, 25, 1) 66%, rgba(47, 33, 59, 1) 100%);
    height: 100%;
}

.usa-lien{
    color:rgb(62, 62, 230);
}
.urss-lien{
    color: red;
}

.retour{
    position: absolute;
    left:10px;
    top: 9.5px;
    background: linear-gradient(179deg,rgba(89, 101, 105, 1) 16%, rgba(73, 83, 89, 1) 32%, rgba(74, 76, 92, 1) 54%, rgba(77, 94, 94, 1) 64%);
    border: #020024;
    border-radius: 10px;
    padding: 3px;
    color: #020024;
}

.all-pays1{
    display: flex;
    flex-direction: row;
    min-width: 100vh;
    border: 1px solid black;
    width: 100px;
    margin-left: 1%;
    text-align: center;
}

.image_s{
    padding: 2%;
    width: 65%;
}

.titre-URSS{
    background: linear-gradient(180deg,rgba(36, 12, 12, 1) 0%, rgba(36, 12, 12, 1) 35%, rgba(36, 12, 12, 1) 100%);
}

.titre-usa{
    background:linear-gradient(180deg,rgba(0, 86, 89, 1) 16%, rgba(69, 4, 181, 1) 87%, rgba(29, 158, 184, 1) 48%);
}
.titre-allemagne{
    background: linear-gradient(260deg,rgba(194, 158, 29, 1) 33%, rgba(224, 40, 11, 1) 66%, rgba(143, 43, 119, 1) 100%);
}
.titre-URSS, .titre-usa, .titre-allemagne{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.footer-URSS, .footer-USA, .footer-ALLEMAGNE{
    margin-top: 15px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background: linear-gradient(180deg,rgba(245, 245, 245, 1) 50%, rgba(250, 250, 250, 1) 100%);
    padding: 3px;
}

.résumer-USA{
    background:linear-gradient(180deg,rgba(0, 86, 89, 1) 16%, rgba(69, 4, 181, 1) 87%, rgba(29, 158, 184, 1) 48%);
}
.résumer-URSS{
    background: linear-gradient(180deg,rgba(117, 29, 29, 1) 0%, rgba(158, 14, 14, 1) 35%, rgba(156, 39, 39, 1) 100%);
}
.résumer-ALLEMAGNE{
    background: linear-gradient(260deg,rgba(194, 158, 29, 1) 33%, rgba(224, 40, 11, 1) 66%, rgba(143, 43, 119, 1) 100%);
}
.résumer-USA, .résumer-URSS, .résumer-ALLEMAGNE{
    margin: -4px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.USA h2{
    background:linear-gradient(180deg,rgba(0, 86, 89, 1) 16%, rgba(69, 4, 181, 1) 87%, rgba(29, 158, 184, 1) 48%);
}
.URSS h2{
    background: linear-gradient(180deg,rgba(117, 29, 29, 1) 0%, rgba(158, 14, 14, 1) 35%, rgba(156, 39, 39, 1) 100%);
}
.ALLEMAGNE h2{
    background: linear-gradient(260deg,rgba(194, 158, 29, 1) 33%, rgba(224, 40, 11, 1) 66%, rgba(143, 43, 119, 1) 100%);
}
.USA h2, .URSS h2, .ALLEMAGNE h2{
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 2px;
} 


